<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

  <link
    rel="stylesheet"
    href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/css/just-the-docs-head-nav.css' | relative_url }}"
    id="jtd-head-nav-stylesheet"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/css/datatables.css' | relative_url }}"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
  ></script>
  <script src="{{ '/assets/js/datatables.js' | relative_url }}"></script>
  <script defer type="module">
    //remove the default 'Search' text for all DataTable search boxes
    $.extend(true, $.fn.dataTable.defaults, {
        language: {
            search: ""
        }
    });

    let filterFunction = function (e, dt, node, config) {
      // Grab the button's current color.
      let cl = node[0].style.getPropertyValue("background-color")
      let q = ` ${node[0].textContent}`

      // If the button is active, disable it.
      if (cl && cl == "rgb(173, 216, 230)") {
        query = query.replace(q, "")
        node[0].style.setProperty("background-color", "#d2854541", "important")
        dt.columns(2).search(query, false, true, true).draw();
      }

      // Otherwise, activate it.
      else {
        query += q;
        node[0].style.setProperty("background-color", "#add8e6", "important")
        dt.columns(2).search(query, false, true, true).draw();
      }
    };

    let query = "";
    let table = new DataTable("#Vault", {
      scrollY: "",
      paging: false,
      order: [[3, "desc"]],
      columnDefs: [
      {
        targets: 3,
        render: function (data, type, row) {
          return '★'.repeat(data);
        }
      }
    ],
      layout: {
        top2: "search",
        top2Start: null,
        top2End: null,
        top1Start: null,
        top1End: null,
        top1: {
          buttons: [
            {
              text: "Hall of Fame",
              className: "filterbutton",
              action: filterFunction,
            },
            {
              text: "Clear Filters",
              className: "clearbutton",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".filterbutton");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                query = ""
                dt.columns(2).search(query, false, true, true).draw();
              },
            },
            {
              text: "Enhanced Edition",
              className: "filterbutton",
              action: filterFunction,
            }
          ],
        },
        topStart: null,
        topEnd: null,
        top: {
          buttons: [
            {
              text: "Adult Content",
              className: "filterbutton",
              action: filterFunction, 
            }, 
            {
              text: "Dungeon",
              className: "filterbutton",
              action: filterFunction,
            },  
            {
              text: "Hack & Slash",
              className: "filterbutton",
              action: filterFunction,
            },
            {
              text: "Roleplay",
              className: "filterbutton",
              action: filterFunction,
            },
            {
              text: "Tricks & Traps",
              className: "filterbutton",
              action: filterFunction,
            },
            {
              text: "Dark",
              className: "filterbutton",
              action: filterFunction,
            },
            {
              text: "Pen & Paper",
              className: "filterbutton",
              action: filterFunction,
            },
            {
              text: "Multiplayer",
              className: "filterbutton",
              action: filterFunction,
            },
          ]
        }
      },
    });

    //custom format of Search boxes
    $('[type=search]').each(function () {
        $(this).attr("placeholder", "Search...");
        $(this).before('<span class="fa fa-search"></span>');
    });

    table.on("select.dt", () => {
      table.searchPanes.rebuildPane(0, true);
    });

    table.on("deselect.dt", () => {
      table.searchPanes.rebuildPane(0, true);
    });

    $(document).ready(function () {
      $("#Vault").DataTable();
    });
  </script>

  <style id="jtd-nav-activation">
    {% include css/activation.scss.liquid %}
  </style>

  <!-- <script src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script> -->
  <script src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% include_cached favicon.html %} {% seo %} {% include head_custom.html %}
</head>
