<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

  <link
    rel="stylesheet"
    href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/css/just-the-docs-head-nav.css' | relative_url }}"
    id="jtd-head-nav-stylesheet"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/css/datatables.css' | relative_url }}"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
  ></script>
  <script src="{{ '/assets/js/datatables.js' | relative_url }}"></script>
  <script defer type="module">
    //remove the default 'Search' text for all DataTable search boxes
    $.extend(true, $.fn.dataTable.defaults, {
        language: {
            search: ""
        }
    });

    let table = new DataTable("#Vault", {
      scrollY: "",
      paging: false,
      order: [[5, "desc"]],
      layout: {
        top2: null,
        top2Start: "search",
        top2End: {
          buttons: [
            {
              text: "Clear Filters",
              className: "clearbutton",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                dt.columns(6).search("", true, false, true).draw();
              },
            },
          ],
        },
        top1Start: null,
        top1End: null,
        top1: {
          buttons: [
            {
              text: "Hall of Fame",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                node[0].style.setProperty("background-color", "#add8e6", "important")
                dt.columns(6).search("Hall of Fame", true, false, true).draw();
              },
            },
            {
              text: "Enhanced Edition",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                node[0].style.setProperty("background-color", "#add8e6", "important")
                dt.columns(6).search("Enhanced Edition", true, false, true).draw();
              },
            },
          ],
        },
        topStart: null,
        topEnd: null,
        top: {
          buttons: [
            {
              text: "Adult Content",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                node[0].style.setProperty("background-color", "#add8e6", "important")
                dt.columns(6).search("Adult Content", true, false, true).draw();
              },
            },  
          {
              text: "Dungeon",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                node[0].style.setProperty("background-color", "#add8e6", "important")
                dt.columns(6).search("Dungeon", true, false, true).draw();
              },
            },  
          {
              text: "Hack & Slash",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                node[0].style.setProperty("background-color", "#add8e6", "important")
                dt.columns(6).search("Hack & Slash", true, false, true).draw();
              },
            },
            {
              text: "Roleplay",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                node[0].style.setProperty("background-color", "#add8e6", "important")
                dt.columns(6).search("Roleplay", true, false, true).draw();
              },
            },
            {
              text: "Tricks & Traps",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                node[0].style.setProperty("background-color", "#add8e6", "important")
                dt.columns(6)
                  .search("Tricks & Traps", true, false, true)
                  .draw();
              },
            },
            {
              text: "Dark",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                node[0].style.setProperty("background-color", "#add8e6", "important")
                dt.columns(6).search("Dark", true, false, true).draw();
              },
            },
            {
              text: "Pen & Paper",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                node[0].style.setProperty("background-color", "#add8e6", "important")
                dt.columns(6).search("Pen & Paper", true, false, true).draw();
              },
            },
                      {
              text: "Multiplayer",
              action: function (e, dt, node, config) {
                const matches = document.querySelectorAll(".dt-button");
                matches.forEach(b => {
                    b.style.setProperty("background-color", "#d2854541", "important")
                });
                node[0].style.setProperty("background-color", "#add8e6", "important")
                dt.columns(6).search("Multiplayer", true, false, true).draw();
              },
            },]
        }
      },
    });

    //custom format of Search boxes
    $('[type=search]').each(function () {
        $(this).attr("placeholder", "Search...");
        $(this).before('<span class="fa fa-search"></span>');
    });

    table.on("select.dt", () => {
      table.searchPanes.rebuildPane(0, true);
    });

    table.on("deselect.dt", () => {
      table.searchPanes.rebuildPane(0, true);
    });

    $(document).ready(function () {
      $("#Vault").DataTable();
    });
  </script>

  <style id="jtd-nav-activation">
    {% include css/activation.scss.liquid %}
  </style>

  <!-- <script src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script> -->
  <script src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% include_cached favicon.html %} {% seo %} {% include head_custom.html %}
</head>
