//
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Space between columns */
}

.grid-left {
  padding-left: 20px;
}

.grid-right {
  background-color: $orange-300;
  margin: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.dt-container {
  margin: 0px 20px 20px 20px;
}

div.dt-buttons > .dt-button {
  background-color: #d2854541 !important;
  border-radius: 10px !important;
  border-color: #d2854541 !important;
  span {
    font-family: "Aref Ruqaa", serif;
    font-weight: 700;
    font-style: normal;
  }
}

div.dt-buttons > .clearbutton {
  width: calc(20vw);
  background-color: #DDD !important;
}

div.dt-container .dt-search input {
  border-radius: 10px !important;
}

.dt-search > .dt-input {
  width: calc(95vw);
  // height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $orange-300 !important;
}

div.dt-container div.dt-layout-row {
  margin: 0px !important;
}


// Search header.
.search-nav-bar {
  background-color: $orange-100;
}
.search-title {
  margin-left: 20px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}


.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa-bold {
  font-family: "Aref Ruqaa", serif;
  font-weight: 700;
  font-style: normal;
}


// CSS for collapsible sections.
input[type='checkbox'] {
  display: none;
}

.wrap-collabsible {
  margin: 1.2rem 0;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #DDD;
  background: $orange-000;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #FFF;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
  max-height: 350px;
}

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: $orange-300;
  border-bottom: 1px solid $orange-000;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content p {
  margin-bottom: 0;
}